h1 {
    font-size: 39px;
    margin-top: 50px;
    padding-top: 20px;
}
h2 {
    font-size: 25px;
    margin-top: 20px;
    
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    text-transform: capitalize;
   
}

.contactparagraph{
    margin-top: 100px;
    text-align: justify;
    margin-left: 15px;
    padding-left: 12px;
    padding: 10px;
}
.topbuttons{
    float: right;
    border: none;
    margin-bottom: 20px;
    margin-right: 20px;
    
}
.navbuttons{
    padding: 15px;
    margin-right: 10px;
    background-color: #503819;
}
.navbuttons:hover{
    background-color: transparent;   
}
.navbuttons:visited{
    background-color: transparent;
}
p {
    font-size: 16px;
    margin-top: 25px;
    max-width: 1000px;
    text-align: justify;
    padding: 5px;
    padding-right: 15px;
}
body {
    font-family:Calibri, Helvetica, Arial, sans-serif;
    font-weight: normal; 
    max-width:990px;
    margin:0 auto;
    padding: 60px;
    background-image:url(../images/holiday-resort.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(250,250,250);
}
img{
    max-width: 940px;
    max-height: 550px;
    
    
}

a:link{
    color:rgb(168, 109, 216);
}

a:visited {
    color: red;
} 
a:hover{
    color: rgb(244, 203, 242);
}
a:active {
    color: rgb(250, 10, 238);
}

figure{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 25px;
    max-width: 1000px;
}
li{
    margin-bottom:5px;
}
caption{
     font-size: 25px;
     margin-top: 20px;
     text-align: left;
     font-weight: 100;
     text-transform: capitalize;
     margin-bottom: 20px;
    
}
th{
    text-align: left;
    padding-right: 30px;
}
td{
    padding-right: 30px;
    padding-top: 10px;
}
input{
    margin-left: 5px;
    padding: 5px;
    border: none;
    background-color: rgb(245, 242, 242);
}
textarea{
    border: none;
    background-color:  rgb(245, 242, 242);
}
fieldset{
    width: 500px;
}
button{
    padding: 10px;
    background-color: #af71be;
    border: none;
    font-family:Helvetica, Calibri, Arial, sans-serif;
    color:antiquewhite
}
button:hover{
    background-color: #6e2671;
}

main{
    background-color: rgba(0,0,0,.5);
}